



body {
    font-family: Arial Narrow;
   
    margin: 20px auto;
    line-height: 1.2;
}
strong {
    display: block;
    margin-top: 20px;
}
ul {
    margin: 5px 0;
    padding-left: 20px;
    display: grid;
}
blockquote {
    margin-left: 20px;}
.container {
      max-width: 500px;
      margin: 0 auto;
      padding: 0 20px; /* Add padding for smaller screens */
    }
.headliner{
  font-size:1rem;
  font-family:'Times New Roman', Times, serif;
  text-align: left;;
  font-weight:200;
  line-height:2.0;
  padding:1rem ;
  margin:0rem;

  
}

    h1{
      font-family: Arial Narrow;;
      font-weight500;
      font-size: 2.8rem;
     
      letter-spacing:-1px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    /* Optional: Hide scrollbar but keep functionality */
    .scroll-container {
      scrollbar-width: none; /* Firefox */
      -ms-overflow-scrolling: touch; /* IE/Edge */
      -ms-overflow-style: none; /* IE/Edge */
    }
    
    /* Hide scrollbar for Chrome/Safari/Opera */
    .scroll-container::-webkit-scrollbar {
      display: none;
    }
    
.nav *{
display:inline;
box-sizing: border-box;
padding: 10px 10px;
margin: 0;
text-align: center;
size:1.2rem;
text-align:center;
text-decoration:italic;
font-family: 'Times New Roman', Times, serif;
font-weight:500;

}
.credit{

  font-size:0.8rem;
  font-family:'Times New Roman', Times, serif;
  text-align: left;;
  font-weight:200;
  line-height:2.0;
  padding:1rem ;
  margin:0rem;
  
}